.maindiv{

    position: relative;
    padding:0px;
  
}

.formdiv{

    height: 500px;
    width: 600px;
    border: 1px solid black;
}
.containerdiv{

    padding-top: 30px;
}

.firstdiv{

    width: 50%;
    display: flex;
    flex-direction: row;
    
}
.secdiv, .thirddiv, .fourthdiv{

    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.firtstext{
padding-left: 10px;

}

.lasttext{

padding-left: 20px;
}
.mailtext{

padding-left: 43px;

}
.mobtext{

    padding-left: 20px;
}

.countrytext{
    padding-left: 24px;
}
.stattext{
    padding-left: 54px;
}
.citytext{
    padding-left: 54px;
}
.pintext{
    padding-left: 35px;

}

.otp-btn{
width: 150px;
height: 50px;
position: relative;
display: flex;
flex-direction: row;
left:200px;
top:40px;
padding-left: 30px;
padding-top: 13px;
background-color: black;
color: bisque;

}

.countryselect{
    width: 190px;
}